// Cabecera del Sitio Web

    //Menu Principal
    .menuInicio{
    padding: 1rem;
    background-color: $negro;
    a{
        margin-left: 2rem;
        &:hover{
            text-decoration: underline;
            }
        }
    }
    
    //Menu Lateral
    .menuCategorias{
    color: $negro;
        li{ 
            list-style: none;
            background-color: $menuCatColor;
            text-align: center;
            margin: 3%;
            padding: 1%;
            
            a{
                text-decoration: none;
                color:$negro;
                
            } 
            &:hover{
                background-color: $negro;
                color: $blanco;
            }    
        }
    }
