// Cabecera del Sitio Web

    //Menu Principal
    .menuInicio{
    padding: 1rem;
    background-color: $negro;
    .contador{
        
        color: $menuCatColor;
        &:hover{
            text-decoration: underline;
        }
    }
    a{
        margin-left: 2rem;
        &:hover{
            text-decoration: underline;
            }
        }
    }
    
    //Menu Lateral
    .menuCategorias{
    color: $negro;
        li{ 
            list-style: none;
            background-color: $menuCatColor;
            text-align: center;
            margin: 3%;
            padding: 1%;
            
            a{
                text-decoration: none;
                color:$negro;
                
            } 
            &:hover{
                background-color: $negro;
                color: $blanco;
            }    
        }
    }

 
.myModal-header{
	padding:6px 10px 6px 20px;
	background-color:$menuCatColor;
	border:0px;
	height:60px;
}
 
.myModal-body{
	padding:5rem;
	background-image: linear-gradient(to bottom, #000000, #5a5555, #000000);
	border-left:1px solid $blanco;
	border-right:1px solid $blanco;
    #vaciar-carrito{
        margin-top: 2rem;
        background-color: $negro;
        border-color: $blanco;
    }
    .card{
        color: $blanco;
        background-color: $negro;
        border: 1px solid $blanco;
        margin: 1px;
    }
}
.myModal-footer{   
    #cerrar{
        background-color: rgb(100, 81, 80);
    }
    #comprar{
       background-color: blueviolet;
    }
}